/* Grid System Style */

$grid-columns: 12;

@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: percentage($i / $grid-columns);
  }
}


// styles
[class^='grid-'] {
	float: left;
	position: relative;
	min-height: 1px;
	/* padding-right: 15px; */
	/* padding-left: 15px; */
}