// Extra small devices (portrait phones, less than 576px)
$mobile-small: '(max-width: 400px)';
$mobile-port: '(max-width: 575px)';

// Small devices (landscape phones, 576px and up)
$mobile-land: '(min-width: 576px) and (max-width: 767px)';
$mobile: '(max-width: 767px)';

// Medium devices (tablets, 768px and up)
$tablet: '(min-width: 768px) and (max-width: 991px)';
$tablet-above: '(min-width: 768px)';
$tablet-below: '(max-width: 991px)';

// Large devices (desktops, 992px and up)
$desktop: '(min-width: 992px) and (max-width: 1199px)';
$desktop-above: '(min-width: 992px)';

// Extra large devices (large desktops, 1200px and up)
$desktop-lg: '(min-width: 1200px)';