/* Color Code Variables */

/* Basic Colors */
$Black: #000000;
$White: #ffffff;
$Grey: #cccccc;
$Green: #1b9e00;
$Blue: #2b54a2;
$SteelBlue: #3c567f;
$Yellow: #efc800;
$Turquoise-2: #1df9dd;
$Turquoise: #5dd7fc;

/* Varient Colors */
$Grey-White: #e7e7e7;
$Grey-dr: #8c95a3;
$Blue-dr: #253149;

/* Basiv Color Transparent */
$White-00: rgba(250, 250, 250, 0.0);
$White-01: rgba(250, 250, 250, 0.1);
$White-02: rgba(250, 250, 250, 0.2);
$White-03: rgba(250, 250, 250, 0.3);
$White-05: rgba(250, 250, 250, 0.5);
$White-08: rgba(250, 250, 250, 0.8);
$Black-05: rgba(0, 0, 0, 0.5);
$Blue-08: rgba(50, 108, 224, 0.8);
$Grey-05: rgba(204, 204, 204, 0.5);
$Turquoise-07: rgba(80, 171, 240, 0.7);
$SteelBlue-08: rgba(60, 86, 127, 0.8);
$SteelBlue-05: rgba(60, 86, 127, 0.5);

/* App Colors */
$Profile-border: #4c6388;

/* All Page Colors */

/* Home Page */