/* ==================
** Extend/Inheritance
** ==================
** This is one of the most useful features of Sass.
** Using @extend lets you share a set of CSS properties from one selector to another.
** It helps keep your Sass very DRY.
** In our example we're going to create a simple series of messaging for errors, warnings and successes.
*/

/* Example:
** SCSS
	.message {
	  border: 1px solid #ccc;
	  padding: 10px;
	  color: #333;
	}

	.success {
	  @extend .message;
	  border-color: green;
	}
** CSS
	.message, .success {
	  border: 1px solid #cccccc;
	  padding: 10px;
	  color: #333;
	}
*/

/* Basic Font Styles */

.app-black-value {
	font-size: 33px;
	line-height: 33px;
	margin: 0;
}

.app-grey-name {
	margin-top:	5px;
	font-size: 14px;
	/* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
	font-family: Lato;
	font-weight: 100;
	line-height: 14px;
	color: $Grey;
	letter-spacing: 1px;
}